ErrorDocument 400 /index.html?error=400
ErrorDocument 401 /index.html?error=401
ErrorDocument 403 /index.html?error=403
ErrorDocument 404 /index.html?error=404
ErrorDocument 500 /index.html?error=500
ErrorDocument 503 /index.html?error=503